.login-card {
  color: #2e2e2e;
  text-shadow: none;

  .btn-link {
    color: #999;
  }
}

.pagination {
  li a {
    background-color: #727272;
    border-color: #313131;
    color: #fff;
  }
}

.gallery-block {
  height: 355px;
  img {
    height: 233px;
  }
}